body {
	font-family: Muli, Helvetica, Arial, sans-serif !important;
}

.logo {
	max-width: 100px;
}

header.masthead {
	position: relative;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 100px;
	color: #fff;
	background: linear-gradient(to left, #7d94a0, #7fba26);
}

.btn-outline {
	border: 1px solid #fff !important;
	color: #fff !important;
}

.btn-outline:hover {
	color: #fff;
	border-color: #000 !important;
	background-color: #000;
}

header.masthead .header-content {
	max-width: 500px;
	margin-bottom: 100px;
}

#mainNav {
	border-color: rgba(34, 34, 34, .05);
	background-color: #fff;
	transition: all .35s;
}

#mainNav .navbar-nav>li>a {
	font-size: 11px;
	font-family: Lato, Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.bg-light {
	background-color: transparent;
}

.navbar .nav-link {
	color: #fff;
	text-transform: uppercase;
}

.navbar-shrink .nav-link {
	color: #000;
}

section {
	padding: 150px 0;
}

#about {
	background: linear-gradient(#fdcc52, #fdc539);
	color: #fff;
}

#contact {
	background-color: #1fc8db;
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.value_wrap {
	display: none;
}

@media screen and (min-width: 992px) {
	#mainNav {
		border-color: transparent;
		background-color: transparent;
	}
	#mainNav.navbar-shrink {
		border-color: rgba(34, 34, 34, .1);
		background-color: #fff;
	}
	header.masthead {
		height: 100vh;
		min-height: 800px;
		padding-top: 0;
		padding-bottom: 0;
	}
}