---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: micro-flask-dev-app
  namespace: ibcdev
  labels:
    app: micro-flask-dev-app
spec:
  selector:
    matchLabels:
      app: micro-flask-dev-app
      tier: web
  template:
    metadata:
      labels:
        app: micro-flask-dev-app
        tier: web
    spec:
      containers:
      - name: micro-flask-dev-app
        image: kranthik123/flask_app:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: micro-flask-dev-svc
  namespace: ibcdev
  labels:
    service: flask
spec:
  selector:
    app: micro-flask-dev-app
  ports:
  - protocol: "TCP"
    port: 5000
    targetPort: 5000
  type: LoadBalancer

