<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Umbrella Delivery Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-md navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img class="logo" src="/static/Umbrella-Delivery-Logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-6 my-auto">
            <div class="header-content mx-auto">
              <div class="my-4">
                <h1 style="margin-top: 100px">Umbrella Delivery!</h1>
              </div>
              <h3 class="mb-5">A Terrific Transportation Corporation</h3>
              <a href="#download" class="btn btn-outline btn-lg">Start Now for Free!</a>
              <form class="my-4">
                <div class="input-group mb-3">
                  <input type="text" class="form-control form-control-lg text-typing" placeholder="Enter your delivery location" required="">
                  <div class="input-group-append">
                    <button class="btn btn-success btn-lg get-inserted-value" type="button">Submit</button>
                  </div>
                </div>
              </form>
              <strong class="value_wrap">You have entered : <span class="inserted-value"></span></strong>
            </div>
          </div>
          <div class="col-lg-6 my-auto">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" class="video" id="iummb" src="https://player.vimeo.com/video/317362936?autoplay=1" frameborder="0" allowfullscreen="allowfullscreen" class="video"></iframe>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="about">
      <div class="container">
        <h1 class="my-4 text-center">About Us</h1>
        <p>Lorem ipsum dolor sit amet, nec metus leo pulvinar urna. Vestibulum ut, wisi neque rutrum. Euismod volutpat integer libero justo, sit erat dapibus tortor duis arcu elit, class nisl massa dictum eleifend adipiscing, a nec ridiculus risus egestas augue id. Ligula non nulla at curabitur feugiat, vestibulum sit at vestibulum nam arcu. Ultrices amet auctor fusce, condimentum in id, dolor diam eros in interdum viverra, ut commodo. Ac morbi risus dictum interdum, wisi pede mauris aliquam in est magna, a sapien arcu vivamus, id amet sit enim non dignissim habitant, gravida ultricies. Nullam magnis sed ornare tempor orci, erat arcu mollis, sodales et quis in nunc ligula et. Elementum et et, pede fusce lobortis ante, wisi penatibus neque tortor odio nulla numquam, libero ratione sem consequat nec mattis conubia, nibh gravida eget elit ac. Nulla in quae, proin eu litora phasellus. Ac sit amet pede, donec mollis.
        <p>
        <p>Suspendisse dapibus bibendum, nec lectus, id purus imperdiet dictum vivamus venenatis, nisl sed enim lobortis suspendisse, bibendum mollis at fames metus quisque. In phasellus nec vel vel aenean velit, ante cum libero, in ipsum et, cum imperdiet aliquam aenean. Maecenas tristique, vitae orci. Consequatur non lorem auctor neque. Ut non vel aliquam vulputate libero, id mauris ultrices, at vestibulum vestibulum vel feugiat id, hymenaeos pede integer in enim eget. Ac sed nunc. A augue, duis et augue, magna pellentesque torquent aspernatur sodales sed parturient, cursus in. In mauris scelerisque pellentesque proin, amet in, vitae velit vel est, et curae</p>
      </div>
    </section>
    <section id="contact">
      <div class="container text-white">
        <h1 class="my-4 text-center">Contact Us</h1>
        <h4>Address:</h4>
        <p>The White House</p>
        <p>1600 Pennsylvania Ave NW, Washington, DC 20500</p>
        <h4>Phone number:</h4>
        <p>(xxx) - xxx - xxxx</p>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
            <i class="fab fa-2x fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
            <i class="fab fa-2x fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
            <i class="fab fa-2x fa-google-plus-g"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <footer class="text-center py-4 bg-dark text-white">
      <div class="container">
        <p class="mb-0">© Kranthi Kavuri 2020. All Rights Reserved.</p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/static/custom.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script>
      $(document).ready(function(){
         $('.get-inserted-value').click(function(){      
          var typedText=$('.text-typing').val();
          $('.inserted-value').html(typedText);
          $(".value_wrap").show();
         });
      });
    </script>
  </body>
</html>
